button{
    border-radius: 1em;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;
    color: #363636;
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    box-shadow: 0px 0px 5px #e2e2e2;
    background-color: #cccccc;
    margin: 0.5em;
    transition-duration: 200ms;
    cursor: pointer;
}

*{
    box-sizing: border-box;
}

.questionContainer{
    border-radius: 1em;
    border-color: #e8e8e8;
    border-width: 1px;
    border-style: solid;
    
    margin: auto;
    margin-top: 1em;
    padding: 2em;
    padding-top: 1em;

    box-shadow: 0px 0px 5px #e2e2e2;
    text-align: center;
    background-color: white;
    max-width: 800px;

    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.questionInputTextBox{
    border-radius: 1em;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;

    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    box-shadow: 0px 0px 5px #e2e2e2;
}
.option_button{
    border-color: #bebebe;
    color: #a3a3a3;
    background-color: #f7f7f7;
}
.option_button.selected{
    border-color: #bebebe;
    color: #363636;
    background-color: #cccccc;
}
.questionCheckButton{
    border-radius: 1em;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;

    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    box-shadow: 0px 0px 5px #e2e2e2;
    background-color: #7373ff;
    margin: 0.5em;

    transition-duration: 200ms;
}
.questionCheckButton:hover{
    background-color: #9f9ff1;
}
.questionAnswerButton{
    border-radius: 1em;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;

    color: #363636;

    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    box-shadow: 0px 0px 5px #e2e2e2;
    background-color: #cccccc;
    margin: 0.5em;

    transition-duration: 200ms;
}
.questionAnswerButton:hover{
    background-color: #e4dfd3;
}
.nextQuestionButton{
    border-radius: 1em;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;

    color: #363636;

    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    box-shadow: 0px 0px 5px #e2e2e2;
    background-color: #cccccc;
    margin: 0.5em;

    transition-duration: 200ms;
}
.nextQuestionButton:hover{
    background-color: #e4dfd3;
}
body{
    background-color: #f7f7f7;
    width: 100%;
    margin: 0;
}
.filterContainer{
    border-radius: 1em;
    border-color: #e8e8e8;
    border-width: 1px;
    border-style: solid;
    
    margin: auto;
    margin-top: 1em;
    padding: 0.2em;

    box-shadow: 0px 0px 5px #e2e2e2;
    background-color: white;
    max-width: 800px;

    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.filterButton{
    border-radius: 1em;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;

    
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    
    box-shadow: 0px 0px 5px #e2e2e2;

    color: #a3a3a3;
    background-color: #f7f7f7;

    margin: 0.5em;

    transition-duration: 200ms;
}

.filterButton:hover{
    color: #363636;
    background-color: #e2e2e2;
}

.activeFilterButton{
    color: #363636;
    background-color: #cccccc;
}

.activeFilterButton:hover{
    color: #363636;
    background-color: #e2e2e2;
}

.filterHeader{
    font-family: Consolas, monaco, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0.5em;
    margin-bottom: 0;
    color: #a3a3a3;
}

@media only screen and (max-width: 800px) {
    .questionContainer{
        margin-left: 1em;
        margin-right: 1em;
    }
    .filterContainer{
        margin-left: 1em;
        margin-right: 1em;
    }
}