

:root{
    --color-primary: rgb(182, 210, 194);
    --color-secondary: rgb(30, 134, 82);
    --color-neutral: rgb(15, 20, 17);
    --border-width: 2px;
    --nav-height: 30px;
    --nav-a-width: 200px;
    --font-size: 15px;
    --h1-size: 30px;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(cv_src/JetBrainsMono-VariableFont_wght.ttf);
}

*{
    font-family: JetBrains Mono;
    font-size: var(--font-size);
    color:        var(--color-primary);
    border-color: var(--color-primary);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 26px;
}

p{
    text-align: justify;
}

body{
    background-color: var(--color-neutral);
    background: paint(wavy-pattern);

    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--color-primary);
    min-height: 100vh;

}

nav{
    border-width: 0 0 var(--border-width) 0;
    border-color: var(--color-primary);
    border-style: solid;
    color: var(--color-primary);
    background-color: var(--color-neutral);
    height: var(--nav-height);
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

nav>a{
    outline-width: var(--border-width);
    outline-color: var(--color-primary);
    background-color: var(--color-neutral);
    outline-style: solid;
    width: var(--nav-a-width);
    text-align: center;
    height: 100%;
    align-content: center;
    text-decoration: none;
    transition: 300ms;
}

nav>img{
    aspect-ratio: 1;
    outline-width: var(--border-width);
    outline-color: var(--color-primary);
    background-color: var(--color-neutral);
    outline-style: solid;
}

nav>a:hover{
    background-color: var(--color-primary);
    color: var(--color-neutral);
    text-decoration: underline;
}

main{
    margin: var(--nav-height) auto 0 auto;
    max-width: 900px;
    padding: 0 var(--nav-height) 0 var(--nav-height);
    overflow: hidden;
}

#main-profile{
    width: var(--nav-a-width);
    border-width: var(--border-width);
    border-color: var(--color-primary);
    background-color: var(--color-neutral);
    border-style: solid;
    background: linear-gradient(var(--color-neutral), var(--color-primary));
}

#links{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 0 var(--border-width) calc(var(--border-width) * 2);
    display: flex;
    width: 100%;
    border-width: 0 0 var(--border-width) 0;
    border-color: var(--color-primary);
    border-style: solid;
}

#links>a{
    color: var(--color-neutral);
    background-color: var(--color-primary);
    text-decoration: none;
    padding: 0 3px 0 3px;
    margin-right: var(--border-width);
    transition: 300ms;
}

#links>a:hover{
    background-color: var(--color-neutral);
    color: var(--color-primary);
    text-decoration: underline;
}

#main-head{
    display: flex;
    gap: var(--nav-height);
}

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
}

#projects>div{
    cursor: pointer;
    aspect-ratio: 4 / 3;
    image-rendering: optimizeSpeed;
    background-size: cover;
    padding: 3px 9px;
    position: relative;
    border-width: var(--border-width);
    border-color: var(--color-primary);
    border-style: solid;

    margin-right: calc(0px - var(--border-width));
    margin-top: calc(0px - var(--border-width));
}

#projects *{
    z-index: 2;
    position: inherit;
}

#projects>div>a{
    opacity: 0;
    transition: 300ms;
}

#projects>div:hover a{
    opacity: 1;
}

#projects>div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--color-neutral);
    opacity: 0.7;
    
    z-index: 1;

    transition: 300ms;
}
#projects>div:hover::before{
    background: var(--color-neutral);
    opacity: 0.9;
}