<main>
    <h1>Portfolio</h1>

    <div id="projects" class="loader">Loading projects...</div>

    <!--<h3>Tetris in c# using Windows Forms | <a href="https://github.com/VilemMakovicka/winforms-tetris">source code</a><br>
        <span class="identificator-app">standalone app</span>
        <span class="identificator-c">C#</span>
    </h3>
    <p>
        During my four years in Vyšší odborná a střední škola Boskovice we had to make several projects for several different subjects. This was one of them. Each student had to choose an app to make in windows forms with a given deadline. My choice was to make Tetris.
    </p>
    <img src="cv_project_sources/images/tetris.001.png">
    <hr>

    <h3>Year's work - Peer to peer multiplayer in Unity | <a href="cv_project_sources/p2p project/IT_Makovicka_Vilem_Jakubu_Vojtech_P2PMultiplayer.pdf">document</a><br>
        <span class="identificator-app">standalone app</span>
        <span class="identificator-unity">Unity</span>
        <span class="identificator-c">C#</span>
    </h3>
    <p>
        During my third year in high school, we were required to write and present a document on any theme related to our field. 
        This was a two-people project and so I teamed up with my close friend and together we documented a basic creation process of a peer to peer connection based game in the Unity engine.
    </p>
    <img src="cv_project_sources/images/p2p.001.png">

    <hr>
    <h3>Dungeon crawler in console using C++ - Team project | <a href="https://github.com/VilemMakovicka/old-dungeon-crawler">source code</a><br>
        <span class="identificator-app">standalone app</span>
        <span class="identificator-c">C++</span>
    </h3>
    <p>
        A part of our OOP course we had to make a C++ game inspired by old dungeon crawlers as a console app. This was a team effort and we used bitbucket to share this project between us. I planned out how we would structure the codebase and how we would approach certain problems as I had the most experience coding using polymorphism. I also made the minimap UI, combat UI and json functionality so my friends could configure the game and add enemies more easily.
    </p>
    <img src="cv_project_sources/images/dungeoncrawler.001.png">
    
    <hr>
    <h3>Car controller in Unity | <a href="https://github.com/VilemMakovicka/old-unity-carcontroller">Unity project</a><br>
        <span class="identificator-app">Standalone app</span>
        <span class="identificator-unity">Unity</span>
        <span class="identificator-c">C#</span>
    </h3>
    <p>
        One of my personal code adventures was making a car controller without using the built-in Unity wheel collider components. This lead me into a two week struggle and resulted into me creating my own solution to the missing cyllinder cast method (It wasn't the best solution but it worked quite well).
    </p>
    <img src="cv_project_sources/images/carcontroller.001.png">

    <hr>
    <h3>Audio streaming website | <a href="https://github.com/VilemMakovicka/Audio-streaming-website">source code</a><br>
        <span class="identificator-website">dynamic website</span>
        <span class="identificator-python">python</span>
    </h3>
    <p>
        As a part of our website development course in Mendelu university, we had to make our own websites using Python. I chose to make an audio streaming website.
    </p>
    <img src="cv_project_sources/images/audiosteamingwebsite.001.png">
    
    <hr>
    <h3>simple 2d world generation console app in C# | <a href="https://github.com/VilemMakovicka/csharp-console-2d-world-generation">source code</a><br>
        <span class="identificator-c">C#</span>
    </h3>
    <p>
        A small personal project where I tried to make infinite world generation using a simple noise funtion and chunks.
    </p>
    <img src="cv_project_sources/images/worldgen.001.png">
    <hr>
    <h2>Other</h2>
    <h3>Music</h3>
    <p>
        For the entirety of my time in high school, one of my free time hobbies was the creation of electronic music. If you are interested, I can be found on most platforms by the name "<a href="https://music.youtube.com/channel/UCOaFXbmKTTwKel6NzynEdNA?si=5P_-n0DKA-lcx4jB">WIAS</a>".
    </p>
    <h3>Gaming</h3>
    <p>
        One of my hobbies that consumed a ton of time of my life has been gaming. I consider this to be more a theme for personal talk so I won't get into details here.
        <a href="https://steamcommunity.com/id/TrueWias/">My steam profile</a>
    </p>
    <h3>Linux</h3>
    <p>
        I don't consider myself as very passionate linux fan but Linux has been my main operating system since the christmas of 2025.
    </p>
    <h3>Game development</h3>
    <p>
        So far I used primarily the Unity engine to learn as much about game development as I possibly can as it is by far my most favorite entertainment medium.
    </p>
    <div class="row">
        <div class="column">
            <img src="cv_project_sources/images/cabingame.inventory.gif">
            <img src="cv_project_sources/images/cabingame.forest.png">
            <img src="cv_project_sources/images/pixelcomposer.003.jpg">
        </div>
        <div class="column">
            <img src="cv_project_sources/images/cabingame.villa.png">
            <img src="cv_project_sources/images/pixelcomposer.001.jpg">
            <img src="cv_project_sources/images/pixelcomposer.002.jpg">
            <img src="cv_project_sources/images/blender.001.png">
        </div>
    </div>
    <hr>-->
</main>

<script src="/component_logic/portfolio.js"></script>